<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="$(find velodyne_description)/models/HDL-32E.urdf.xacro" />

    <xacro:HDL-32E parent="chassis" name="velodyne" topic="/velodyne_points" hz="10" lasers="32" samples="220" min_range="0.9" max_range="130.0" noise="0.008" organize_cloud="false" gpu="false">
        <origin xyz="0.2 0 0.18" rpy="0 0 0" />
    </xacro:HDL-32E>
</robot>
